<!DOCTYPE html>
<html>

<head>
    <title>Posts</title>
</head>

<body>

    <h1>Dates</h1>

    <% if (posts && posts.length> 0) { %>
        <% posts.forEach(post=> { %>
            <p>
                <%= post %>
            </p>
            <% }) %>
                <% } else { %>
                    <p>No posts found.</p>
                    <% } %>

</body>

</html>